@media(max-width:670px){
    .header-list{
        font-size:8px;
        padding-top:15px;
    }
    header-list a{
        text-decoration:none;
    }
    li{
        width:15%;
        display:inline-block;
    }
    .container{
        width:100%;
        height:100%;
    }
    .myself-wrapper{
        width:100%;
        height:2000px;
    }
    .myself{
        height:500px;
    }
    .pic{
        top:250px;
        left:30px;
    }
    .hobby{
        height:700px;
    }
    .pic2{
        top:500px;
        left:30px;
    }
    .st{
        width:100%;
    }
    .st-icon{
        padding-left:50px;
    }
    .st-icon p{
        top:75px;
        left:115px;
        font-size:15px;
    }
    .weakness{
        height:1000px;
    }
    .we{
        width:100%;
    }
    .we-icon{
        padding-left:50px;
    }
    .we-icon p{
        top:75px;
        left:115px;
        font-size:15px;
    }
    footer{
        height:400px;
    }
    .btn{
        width:100%;
        margin:10px 0;
    }
}
